*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#e66465, #9198e5);
    height: 100vh;
}

button,
input {
    font-family: inherit;
}

.wrapper {
    max-width: 1140px;
    margin: 0 2em 0 2em;
}

.header {
    margin-top: 2em;
    margin-bottom: 1.3em;
}

input {
    border-radius: 10px;
    width: 13rem;
    height: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.header-border {
    border-bottom: 2px solid #1f1f1f;
    margin-top: 2em;
}

.middle-border {
    border-bottom: 2px solid #1f1f1f;
    margin-bottom: 1.2em;
}

.day-heading {
    color: beige;
    font-size: 2rem;
}

.weather-status--city---name,
.small-status--text,
.small-status--wind {
    color: rgba(229, 227, 228, 0.7);
    opacity: 0.7;
}

.inside-wrapper {
    display: flex;

}

.degree-wrapper {
    width: 65%;
}

.degree-wrapper img {
    position: relative;
    top: -80px;
}

.small-status {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weather-status--city---name {
    position: relative;
    bottom: -30px;
}

.weather-status--degree {
    font-size: 8rem;
}

@media (min-width: 768px) {

    .weather-status>*,
    .weather-status--tomorrow>* {
        left: 25%;
        position: relative;
    }
}